 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @administrator.first_name %>, une nouvelle personne s'est inscrite à votre évènement !!</h1>
    <p>
      Accèdes à ton espace client pour en savoir plus: <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>